body {
    background: url('https://wallpapercave.com/wp/sZ2daAY.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: -7em;
    background-color: black;
    color:white;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header h1 {
    padding-left: 1em; 
    font-size:3em;
}

h3, h5, h6{
  margin:5px
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.widthContainer {
    width:100%
}

section{
    margin-top: 10vh;
    padding:.7em;
    background-color:#414141 ;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgTitle{
    width:35vw;
    align-self: flex-end
}

footer {
   display: flex;
   justify-content: flex-start;
}

@media only screen and (max-width: 800px) {
    footer {
        justify-content: space-around;
    }
}