/* Ivan Martinez */
body {
    display: flex;
    justify-content: center;
}

#mainContent {
    width: 98%;
}

.generalBox {
    text-align: center;
    margin: 1%;
}

.tableContainer {
    display: table;
}

.rowContainer {
    display: table-row;
}

.columnContainer {
    padding: 5px;
    display: table-cell;
    border-style: solid;
    border-width: 1px;
    width: 130px;
}

.cell {
    padding: 20%;
    background-color: #9e9eb9;
    color: white;
}

.cellOk {
    background-color: #8bc34a;
}

#cellxx {
    padding: 20%;
    background-color: black;
    color: white;
}

button {
    padding: 0.5% 5%;
    font-size: 16px;
    margin: 1%;
    text-align: center;
}