#flex {
    display: flex;
}

#puzzle {
    width: 600px;
    height: 600px;
    border: 10px solid mistyrose;
    font-size: 100px;
    text-align: center;
    color: white;
    flex-wrap: wrap;
    display: flex;
}

.block {
    height: 150px;
    width: 150px;
    background: #3498db;
    align-items: center;
    justify-content: center;
    display: flex;
}

.empty {
    background: whitesmoke;
    display: flex;
    height: 200px;
    width: 200px;
}

body > div {
    justify-content: center
}