@font-face {
    font-family: digital7;
    src: url(digital-7.ttf);
}

html,body{
    margin: 0;
}

*{
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calc-wrap{
    display: flex;
    max-width: 300px;
    min-height: 100px;
    background-color: black;
    box-shadow: 1px 1px 1px grey;
    flex-direction: column;
}

.calc-display{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}

.calc-display #display, 
.calc-display #mini-display{
    background-color: transparent;
    border: 1px solid #ccc;    
    padding: 0.1em;
    text-align: right;
    color: white;
    font-family: digital7;
}

.calc-display #display{
    font-size: 3em;
    border-top:none;
}

.calc-display #mini-display{
    font-size: 1em;
    border-bottom: none;
}

.calc-pad{
    display: flex;    
    padding: 0.5em;
    justify-content: space-between;
}

.calc-nums{
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}

.calc-nums-row{
    display: flex;
    justify-content: space-around;
}

.calc-btn{
    border:none;
    color: gold;
    background-color: black;
    font-size: 2em;
    cursor: pointer;
    flex-grow: 1;
    border: 1px solid #ccc;
    border-collapse: collapse;
}

.calc-operations{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}