html,body{
    margin: 0;    
}

* {
    box-sizing: border-box;
  }

body{
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: inherit;
}

main header{
    display:flex;
    justify-content: space-between;
    padding: 1em;
    width: 400px;
    border: 1px solid black;
    margin-bottom: 1em;
}

#btn-restart{
    border: none;
    background-color: seagreen;
    color: white;
    cursor: pointer;
    padding: 0.3em;
    font-size: 2em;
}

#timer{
    border:none;
    outline: none;
}

.puzzle-wrapper{
    display: flex;
    max-width: 400px;
    max-height: 400px;
    justify-content: center;
    border: 1px solid black;
    box-sizing: content-box;
    flex-flow: row wrap;
    background-color: #ccc;
}

.puzzle-wrapper .box{
    display: flex;    
    border:1px solid black;
    width: 100px;
    height: 100px;
}

.box .piece{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 2em;
    background-color: antiquewhite;
    cursor: pointer;
}

.piece.empty{
    background-color: transparent;
}